
#top {
    position: relative;
    /*    background-color: #036fab;*/
    /*    background-color: #53538b;*/
    background-color: #000000;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;

}

#bottom {
    position: relative;
     
    /*    background-color: #c2dfef;*/
/*    background-color: #53538b;*/
background-color: #000000;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    color: white;
}

#left {
    float: left;
    /*    background-color: #a7a7d0;*/
/*    background-color: #9999ff;*/
background-color: #D20005;
    padding: 5px;
    width: 240px;
     height: 1100px;
    
}

#right {
    float: right;
    /*    background-color: #a7a7d0;*/
/*    background-color: #9999ff;*/
    background-color: #000000;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    /*    background-color: #ffffff;*/
    background-color: #AFAFAF;
    padding: 5px;
    height: 1100px;
}

.left_content {
    /*    background-color: #ffffff;*/
    background-color: #AFAFAF;
    padding: 5px;
    margin-left: 250px;
    height: 1100px;
}

.right_content {
    /*    background-color: #ffffff;*/
    background-color: #cccccc;
    padding: 5px;
    margin: 0px 170px 0px 250px;
    height: 1100px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
